In [1]:
import numpy as np
import pandas as pd

In [2]:
random_df = pd.DataFrame(np.random.rand(10000,2), columns=['x','y'])
random_df

             x         y
0     0.834801  0.332445
1     0.292460  0.763320
2     0.771710  0.855515
3     0.296455  0.145156
4     0.629705  0.655774
...        ...       ...
9995  0.632172  0.002008
9996  0.498074  0.499417
9997  0.585651  0.171534
9998  0.447143  0.564827
9999  0.367011  0.289873

[10000 rows x 2 columns]

In [3]:
random_df.to_csv('random_points.csv', index=False)