In [2]:
import numpy as np
import pandas as pd

In [3]:
random_df = pd.DataFrame(np.random.rand(10000,2), columns=['x','y'])
random_df

             x         y
0     0.252531  0.085107
1     0.422045  0.498659
2     0.417075  0.836038
3     0.974278  0.705674
4     0.960798  0.724796
...        ...       ...
9995  0.748231  0.512075
9996  0.507300  0.586380
9997  0.663197  0.759031
9998  0.850166  0.790799
9999  0.331349  0.783045

[10000 rows x 2 columns]

In [4]:
random_df.to_csv('random_points.csv')