In [1]:
import numpy as np
import pandas as pd

In [2]:
random_df = pd.DataFrame(np.random.rand(100,2), columns=['x','y'])
random_df

           x         y
0   0.838518  0.231240
1   0.372273  0.194405
2   0.174127  0.448129
3   0.201574  0.614872
4   0.040797  0.674992
..       ...       ...
95  0.019577  0.817575
96  0.765873  0.725795
97  0.947999  0.220366
98  0.487501  0.882253
99  0.620915  0.264001

[100 rows x 2 columns]

In [3]:
random_df.to_csv('random_points_100.csv', index=False)